<div class="row">
    <div class="col col-12 col-sm-8 col-md-8 col-lg-4 mx-auto">
        <div class="card mt-5 rounded">
            <div class="card-header text-center">
                <h1 class="h4">
                    Editar nota
                </h1>
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="mb-3">
                        <label for="title">Titulo:</label>
                        <input type="text" class="form-control" name="title" placeholder="Titulo"
                            value="{{nota.title}}" autofocus />
                    </div>
                    <div class="mb-3">
                        <label for="description">Descripción:</label>
                        <textarea class="form-control" name="description" placeholder="Descripción de la nota">{{nota.description}}</textarea>

                    </div>
                    <button type="submit" class="btn btn-success btn-block">
                        Editar Nota
                    </button>
                </form>

                    <button class="btn btn-danger btn-block btn-eliminar" data-id="{{nota._id}}">Eliminar Nota</button>

            </div>

        </div>
    </div>
</div>

<script src="/js/del_nota.js"></script>

<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
  body {
    background-color: #1d00bf; /* Color de fondo para todo el cuerpo de la página */
  }
  .card {
    background-color: #ffffff; //* Color de fondo blanco para la sección */
    border: 1px solid #000000; /* Borde gris */
    box-shadow: 0 2px 4px rgba(239, 0, 211, 0.1); /* Sombra suave */
  }
  .card-body {
    padding: 6rem; /* Espaciado interno */
  }
  h1 {
    color: #2600fffe; /* Azul para el título */
  }
  p {
    color: #000000; /* Gris oscuro para el texto */
  }
</style>
</head>
<body>