<div class="row">
    <div class="col col-12 col-sm-8 col-md-8 col-lg-4 mx-auto">
        <div class="card mt-5 rounded">
            <div class="card-header text-center">
                <h1 class="h4">
                    Inicio de Sesión
                </h1>
            </div>
            <img class="rounded-circle mx-auto d-block logo m-4" src="/img/logo.png" alt="Logo" />
            <div class="card-body">
                <form action="/login" method="POST">
                    <div class="mb-3">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" name="email" placeholder="Correo electrónico"
                            autofocus />
                    </div>
                    <div class="mb-3">
                        <label for="passsword">contraseña:</label>
                        <input type="password" class="form-control" name="password" placeholder="Clave de seguridad" />
                    </div>
                    <button type="submit" class="btn btn-success btn-block">
                        Signin
                    </button>
                </form>
            </div>

            <p class="text-center">¿No tienes cuenta? <a href="/registro" class="text-info">Registrate</a></p>
        </div>
    </div>
</div>

<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
  body {
    background-color: #1d00bf; /* Color de fondo para todo el cuerpo de la página */
  }
  .card {
    background-color: #ffffff; //* Color de fondo blanco para la sección */
    border: 1px solid #000000; /* Borde gris */
    box-shadow: 0 2px 4px rgba(239, 0, 211, 0.1); /* Sombra suave */
  }
  .card-body {
    padding: 4rem; /* Espaciado interno */
  }
  h1 {
    color: #2600fffe; /* Azul para el título */
  }
  p {
    color: #000000; /* Gris oscuro para el texto */
  }
</style>
</head>
<body>
